---
layout: layout.liquid
title: 11ty Boilerplate
---


<div x-data="{names: ['Trevor', 'Delaney', 'Dave', 'Carolyn', 'Justin', 'Kyle', 'Jason', 'Brandon', 'Andrew', 'Natalie'], selectedName: ''}">
    <button @click="selectedName = names[Math.floor(Math.random() * names.length)]">Get Random Name</button>
    <h1 x-text="selectedName"></h1>
</div>